@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}
body{
    font-family: "Poppins", sans-serif;
 color: var(--primary-text-color);
  
}

p{
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color) ;
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}
 
.container{
    max-width: 1180px;
    margin-inline: auto ;
    overflow: hidden ;
    font-family: 'Open Sans', sans-serif;
}

main{
    padding-block: 20px;
    margin-top: 105px; 
}

nav{
    background-color: rgb(219, 213, 213);
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    height: 105px;
    top: 0;
    z-index: 99;
    left:0;
    right:0;
}

.main-nav{
    justify-content: space-between;
    padding: 8px 0 ;
}

.logo img{
    width: 85px;
}

.nav-main ul{
   gap: 15px;
}

.hover-link{
    cursor: pointer;
}

.hover-link:hover{
    color: var(--secondary-text-color);
}

.hover-link:active{
    color: red;     
}

.nav-item.active{
    color: var(--accent-color);
}
.search-bar {
    height: 32px;
    gap:8px;
}

  .hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.news-input{
    
    width: 240px;
    height: 100%; 
    padding-inline: 12px ;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
}

.search-button{
    color: white;
    background-color: var(--accent-color);
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}  

.search-button:hover {
background-color: var(--accent-color-dark);
}

@media screen and (min-width: 769px) and (max-width: 1052px) 
 {
    .card {
        margin: auto; 
    }
   
}

@media screen and (max-width: 768px) {
    main {
        padding-block: 10px;
        margin-top: 80px;
    }
    .flex{
    flex-direction: row;
   } 
   .card{
    margin-right: 25px;
    margin-left: 25px;
   }
   nav{
    height: 75px;
   }
   .nav-main ul li{
    gap: 0px;
    padding-top: 0px;
    margin-top: 0;
 }
 .logo img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.nav-menu {
    position: fixed;
    left: -100%; 
    top: 4.4rem;
    flex-direction: column;
    background-color: rgb(219, 213, 213);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}


.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 0.5rem 0;
}
.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 10px;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.news-input{
    width: 180px;
    height: 100%; 
    padding-inline: 12px ;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
}
.search-button{
    color: white;
    background-color: var(--accent-color);
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}  
.footer{
    padding: 0;
}
}


.cards-container{
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card{
    width: 350px;
    min-height: 400px;
    box-shadow:  0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.4s ease;
    margin: auto;
}

.card:hover{
    box-shadow: 1 px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img{
    width: 100%;
    height:180px;
    object-fit: cover;
    padding-left: 15px;
    padding-right: 15px;
}

.card-content{
    padding: 15px;
}

.news-source{
    margin-block: 10px;
}


.icons a {
    text-decoration: none;
    color: #120404;
}

.icons ion-icon {
    color: #100202;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: #ff7200;
}

.footer{
    background-color: rgb(219, 213, 213);
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}